.nav-buttons-container .icon {
  width: 20px;
  height: 20px;
}

.nav-buttons-container {
  display: flex;
  position: relative;
  margin-top: 24px;
}

.nav-buttons-container .previous-button,
.nav-buttons-container .next-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-family: "Roboto", sans-serif;
  background: #023047;
  color: #fff;
  text-decoration: none;
  padding: 8px 24px;
  font-size: 16px;
  min-width: 100px;
}

.nav-buttons-container .next-button {
  position: absolute;
  right: 0;
}

.nav-buttons-container .previous-button:hover .icon {
  animation: nav-prev-anim 300ms alternate infinite;
}

.nav-buttons-container .next-button:hover .icon {
  animation: nav-next-anim 300ms alternate infinite;
}

@keyframes nav-prev-anim {
  to {
    transform: translateX(4px);
  }
}

@keyframes nav-next-anim {
  to {
    transform: translateX(-4px);
  }
}
